<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">	
</head>
<body>
	<div class="container">
		<h1>AlphaBlog</h1>
		<h2>About page</h2>
		<p>I'm Quentin, 22yo, Computer Sciences Student and I'm learning Rails.</p>

		<%= link_to 'Home page', root_path %>
	</div>
</body>
</html>