<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
</head>
<body>
	<div class="container">
		<h1>AlphaBlog</h1>
		<h2>This is a blog about rails.</h2>
		<p>On this blog you can learn rails and developpment.</p>

		<%= link_to 'About page', about_path %>
	</div>
</body>
</html>